In [2]:
import pandas as pd
data = pd.read_excel('/content/drive/My Drive/New-MRI/data.xls')
data

     age  sex  Cp  trestbps  chol  ...  Oldpeak  slope  ca  Thal  Diagnosis
0     70    1   4       130   322  ...      2.4      2   3     3          2
1     67    0   3       115   564  ...      1.6      2   0     7          1
2     57    1   2       124   261  ...      0.3      1   0     7          2
3     64    1   4       128   263  ...      0.2      2   1     7          1
4     74    0   2       120   269  ...      0.2      1   1     3          1
..   ...  ...  ..       ...   ...  ...      ...    ...  ..   ...        ...
294   62    1   4       145   282  ...      2.8      2   2     7          2
295   55    0   4       120   188  ...      1.4      2   1     7          2
296   46    0   2       130   219  ...      0.0      1   0     3          1
297   45    1   4       112   290  ...      0.0      1   1     3          2
298   52    0   3       110   175  ...      0.6      1   0     3          1

[299 rows x 14 columns]

In [0]:
dataset_data=data.loc[:, data.columns != 'Diagnosis'].values
dataset_labels =  data['Diagnosis'].values

In [4]:
from keras.layers import Layer
from keras import backend as K

class RBFLayer(Layer):
    def __init__(self, units, gamma, **kwargs):
        super(RBFLayer, self).__init__(**kwargs)
        self.units = units
        self.gamma = K.cast_to_floatx(gamma)

    def build(self, input_shape):
#         print(input_shape)
#         print(self.units)
        self.mu = self.add_weight(name='mu',
                                  shape=(int(input_shape[1]), self.units),
                                  initializer='uniform',
                                  trainable=True)
        super(RBFLayer, self).build(input_shape)

    def call(self, inputs):
        diff = K.expand_dims(inputs) - self.mu
        l2 = K.sum(K.pow(diff, 2), axis=1)
        res = K.exp(-1 * self.gamma * l2)
        return res

    def compute_output_shape(self, input_shape):
        return (input_shape[0], self.units)

Using TensorFlow backend.

In [0]:
def baseline_model():
        model = Sequential()
        model.add(Dense(11,activation='relu',input_dim=13))
        model.add(RBFLayer(10, 0.5))
        model.add(Dense(1, activation='sigmoid', name='foo'))
        model.compile(optimizer='Adam', loss=binary_crossentropy ,metrics=['accuracy'])
        return model

In [31]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
model = KerasClassifier(build_fn=baseline_model, epochs=30, batch_size=10, verbose=0)
# evaluate using 10-fold cross validation
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
results = cross_val_score(model, dataset_data, dataset_labels, cv=kfold)
print(results.mean())

0.5518644136392463

In [32]:
results

array([0.55      , 0.55000001, 0.55000001, 0.55000002, 0.55932204])